

body {
  font-family: 'Julius Sans One', sans-serif;
  background: url("../img/underconstruction2.jpg")no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.coverimg h1,h2,h3,a{
  padding: 40px;
  color: #fff; 
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}



.coverimage h2{
  color: #fff;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */
.nav-justified {
  margin-top: 10px;
}

.nav-justified > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  color: #000;
  text-align: center;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {

}
.nav-justified > li:first-child > a {
  
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  
}

@media (min-width: 768px) {
  
  .nav-justified {
    max-height: 52px;
  }

  .nav-justified > li > a {
    
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead{
    margin-bottom: 10px;},
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}